<form [formGroup]="taskForm">
  <mat-form-field>
    <input
      type="text"
      formControlName="name"
      matInput
      placeholder="Add a new tiny task…"
      data-cy="task-input"
    />
    <mat-error *ngIf="taskForm.get('name')?.hasError('required')">
      Task name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      [matDatepicker]="picker"
      placeholder="Select date (optional)"
      formControlName="date"
      min="{{ currentDate | date : 'yyyy-MM-dd' }}"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select time (optional)</mat-label>
    <input
      type="text"
      matInput
      [matTimepicker]="timepicker"
      formControlName="time"
    />
    <mat-timepicker-toggle matSuffix [for]="timepicker"></mat-timepicker-toggle>
    <mat-timepicker #timepicker></mat-timepicker>
  </mat-form-field>

  <input
    type="file"
    multiple
    #fileInput
    (change)="onFilesSelected($event)"
  />

  <div *ngIf="errorMessage" class="error-message">
    <mat-icon>error</mat-icon>
    {{ errorMessage }}
  </div>

  <button
    mat-raised-button
    class="task-button"
    type="submit"
    aria-label="Add task"
    [disabled]="!taskForm.valid"
    (click)="onSubmit()"
  >
    <mat-icon>add</mat-icon>
    Add task
  </button>
</form>
