@use '@angular/material' as mat;
@use "@dhutaryan/ngx-mat-timepicker" as mat-timepicker;

$theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$pink-palette),
    ),
    typography: mat.define-typography-config(),
  )
);

@include mat-timepicker.timepicker-theme($theme);

/* You can add global styles to this file, and also import other style files */
@import "../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}
