.mat-list-item {
  background: #fff;
  margin: 16px 0;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;

  .mat-list-icon {
    color: #9bbf29;
    user-select: none;
  }

  button .mat-icon {
    color: #2c3645;
  }

  .due-date {
    font-size: 12px;
    color: #aaa;
  }

  .files-uploaded {
    font-size: 12px;
    color: #4f4e4e;
  }
}
