<mat-list data-cy="task-list">
  <mat-list-item *ngFor="let task of tasks" class="mat-elevation-z1" [class.completed]="task.completed">
    <mat-icon mat-list-icon>assignment</mat-icon>
    <h4 mat-line>{{ task.name }}</h4>

    <span mat-line class="due-date">{{
      getDueDateFormatted(task.dueDate)
    }}</span>
    <span class="files-uploaded" mat-line
      >{{ task.files.length }} file{{
        task.files.length > 1 ? "s" : ""
      }}
      uploaded</span
    >
    
    <!-- Task completion toggle -->
    <button mat-icon-button (click)="toggleTaskCompletion(task)" [color]="task.completed ? 'accent' : 'basic'" [attr.aria-label]="task.completed ? 'Mark task as incomplete' : 'Mark task as completed'">
      <mat-icon>{{ task.completed ? 'check_circle' : 'radio_button_unchecked' }}</mat-icon>
    </button>
    
    <button mat-icon-button (click)="openTaskDetails(task)" color="primary">
      <mat-icon>info</mat-icon>
    </button>
    <button mat-icon-button aria-label="Delete task" color="warn">
      <mat-icon aria-label="Delete task" (click)="delete(task)"
        >delete</mat-icon
      >
    </button>
  </mat-list-item>
</mat-list>
